{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section class="section-padding price-area" id="price_page">
  <div class="container">
      <div class="page-title text-center">
          <h4 class="title">Today's Shows</h4>
            <div class="space-60"></div>
              <div class="row">
              {% for show in shows %}
              <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3 custom-poster">
                    <figure class="mobile-image wow fadeInUp" data-wow-delay="0.3s">
                        <div class="show-title">{{ show.movie.title }}</div>
                        <div class="show-date">{{ show.time|date:'D, d M' }}</div>
                        <div class="show-time">{{ show.time|date:'g:i A' }}</div>
                        <img src="{{ show.movie.image.url }}" alt="movie_image">
                        <a href="/cinema_select"></a>
                    </figure>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>

      <!--Movies-Area -->


    <!-- About-Area -->
<!--     <section class="section-padding" id="about_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="page-title text-center">
                        <img src="images/about-logo' %}" alt="About Logo">
                        <div class="space-20"></div>
                        <h5 class="title">About Appy</h5>
                        <div class="space-30"></div>
                        <h3 class="blue-color">A beautiful app for consectetur adipisicing elit, sed do eiusmod tempor incididunt ut mollit anim id est laborum. Sedut perspiciatis unde omnis. </h3>
                        <div class="space-20"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiing elit, sed do eiusmod tempor incididunt ut labore et laborused sed do eiusmod tempor incididunt ut labore et laborused.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> --> 
    <!-- About-Area-End -->
{% endblock content %}