{% extends "main/base.html" %}
{% load static %}
{% block content %}

      <div class="loading">
        <div class="loading-inner">
            <div class="loading-effect">
                <div class="object"></div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <main class="coming-soon" style="background-image: url({% static 'main/images/posters/movie-collection.jpg' %})">
            <div class="container">

                <img src="{% static 'main/images/logo-white.png' %}" width="200" alt="logo">
                <div style="display:none">
    <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
</div>
                <h3>Oops! Looks like something went wrong.</h3>
     <div>
      <a href="{% url 'home' %}" class="text-white">Back to Home</a>
    </div>
            </div>    
                
        </main>
    </div>
{% endblock content %}