{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <div class="loading">
        <div class="loading-inner">
            <div class="loading-effect">
                <div class="object"></div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <main class="coming-soon" style="background-image: url({% static 'main/images/posters/movie-collection.jpg' %})">
            <div class="container">

                <img src="{% static 'main/images/logo-white.svg' %}" width="200" alt="logo">
                <h3>We are launching CinepassX soon!</h3>

                <div id="countdown" class="count-down"></div>

                <form class="subscribe-form mailchimp" name="subscribe">
                    <input type="email" name="EMAIL" class="form-control" id="mc-email" placeholder="Enter your Email" autocomplete="off">
                    <label for="mc-email"></label>
                    <button class="btn btn-main btn-effect" type="submit">Subscribe</button>
                </form>
            </div>
        </main>
    </div>


{% endblock content %}